<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!furn || furn.length <= 0" resetLinkText="Reset Search"></app-not-found>
<ul>
    <li *ngFor="let furn of furn">
        <a routerLink="/furn/{{furn.id}}">
            <img [src]="furn.imageUrl" [alt]="furn.name">
            <div class="content">
                <span class="name">
                   {{furn.name}}
                   <div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"></div>
                </span>
                <span class="favorite {{furn.favorite?'':'not'}}">
                    ❤
                </span>
           
            </div>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of furn.origins">
                             {{origin}}
                        </span>
                        <div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"></div>
                    </div>
                    <div class="delivery-time">
                        <span>🕒</span>
                        {{furn.deliveryTime}}
                    </div>
                </div>
                <div class="price">
                    <span>
                        {{furn.price|currency}}
                    </span>
                    <div (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"></div>
                </div>
        </a>
    </li>
</ul>
